body, html {
    margin: 0;
    height: 100%;
    font-family: serif;
}

.headline {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #fff;
}

.headline:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.headline:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-backface: translateZ(0) scale(1.0, 1.0);
    -ms-backface-transform: translateZ(0) scale(1.0, 1.0);
    -o-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
    background: url(london.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    animation: animate 60s linear 10ms infinite;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: -2;
}

.headlineText {
    width: 60%;
    /* padding: 35% 10% 0 10%; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.headlineText h1 {
    text-transform: uppercase;
    font-size: 40px;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
}

@keyframes animate {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.5)
    }
}